.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: bold;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

div {
  width: 50%;
  margin-left: 25%;
}

img {
  height: 200;
  width: 100%;
  border: 5px solid white;
}

p {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
